#igUs img{
    height: 100px;
    width: 100px;
    margin-right: 50px;
    border-radius: 10px;
}

#igUs img:hover{
    transition: all 1s;
    scale: 1.1;
    filter: drop-shadow(0px 2px 3px #EBEBEB);
}




#fbUs img{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    border-radius: 10px;
}

#fbUs img:hover{
    transition: all 1s;
    scale: 1.1;
    filter: drop-shadow(0px 2px 3px #EBEBEB);
}


.containerBackgroundUs{
    background: url("../../Img/color-black-facts.jpg");
}

.sectionUs{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}